<header class="header" ng-include="'views/header.html'"></header>

<section class="content" ng-controller="StartCtrl">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="large-4 medium-4 small-12 columns">
          <div class="inner">
            <h3>Components:</h3>
            <ul class="components-list">
              <li ng-repeat="component in components">
                <a ng-href="#start/{{component.id}}">{{component.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="large-8 medium-8 small-12 columns">
          <div class="inner">
            <h3>Line runner:</h3>
            <div class="component line-runner bg-black">
              <div class="progress-bar">
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer" ng-include="'views/footer.html'"></footer>