<header class="header home" ng-include="'views/header.html'"></header>

<section class="features">
  <div class="row">
    <div class="small-12 columns">
      <h2>Features</h2>
      <p>CSS-Magic gives you a huge collection of different CSS components, <br>
        which are looks nice, simple to use and easy to customize!</p>
      <div class="features-list container">
        <div class="large-4 medium-4 small-12 columns">
          <h4>Sass</h4>
          CSS-Magic is developed with Sass, the most powerful professional grade CSS extension language in the world
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <h4>Components</h4>
          CSS-Magic is a collection of small, separated components, that's mean you can use full library or just one element
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <h4>Customize</h4>
          CSS-Magic can be easily customized by your needs
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content no-padding text-center">
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <h4>Open Source</h4>
      CSS-Magic is open source project and MIT licensed. It is absolutely free of charge and you can use, copy and publish it without any limitations.
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <h4>Contribute</h4>
      CSS-Magic is GitHub project and open for everyone to contribute. Just fork it on GitHub and send us a pull request.
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <h4>Found a bug?</h4>
      In case if you found a bug, please give us some feedback or open a new issue on GitHub.
    </div>
  </div>
</section>

<footer class="footer" ng-include="'views/footer.html'"></footer>